<div class="text-center h-screen mt-5 justify-center">
  <div class="mt-5 m-auto  flex flex-column h-50 justify-center bg-white w-50 shadow-md">

  <div class="tracking-widest">
  <span class="text-gray-500 text-3xl block"><span>4  0  4</span></span><br>
  <span class="text-gray-500 text-xl block">Sorry, We couldn't find what you are looking for!</span>
  <div class="mt-4">
    <a [routerLink]="['/home']" class="text-gray-500 text-white font-mono text-xl bg-blue-300 p-2 rounded-md hover:shadow-md">Go back </a>
  </div>

  </div>
</div>

