<!-- This is an example component -->
<div class="min-h-screen flex items-center justify-center px-4 mt-3">

  <div class="max-w-4xl  bg-white w-full rounded-lg shadow-xl">
      <div class="p-4 border-b grid grid-cols-2">
          <h2 class="text-2xl ">
              {{app.name}}
          </h2>
          <div class="flex justify-around">
            <button (click)="editApp(app.id)" class="border p-1/2 w-20 shadow shadow-outline rounded bg-blue-500 text-white hover:bg-blue-600 hover:text-white">Edit</button>
            <button (click)="deleteApp(app.id)" class="border p-1 w-20 shadow shadow-outline rounded bg-red-500 hover:bg-red-600 text-white">Delete</button>
          </div>
      </div>
      <div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-gray-600">
                  Status
              </p>
              <p>
                  {{app.status.name}}
              </p>
          </div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-gray-600">
                  Application for
              </p>
              <p>
                  {{app.jobTitle}}
              </p>
          </div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-gray-600">
                  Job Link
              </p>
              <p>
                  <a class="underline text-blue-500" href="{{app.linkToJob}}" target="_blank">Job Post</a>
              </p>
          </div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
                Location
            </p>
            <p>
                {{app.location}}
            </p>
        </div>

          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-gray-600">
                  Salary
              </p>
              <p>
                  {{app.salary | currency}}
              </p>
          </div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-gray-600">
                  Description
              </p>
              <p>
                {{app.description}}
              </p>
          </div>
          <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
               Applied Date
            </p>
            <p>
              {{app.applyDate | date: "MM/dd/yyyy"}}
            </p>
        </div>
        <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">
             Deadline
          </p>
          <p>
            {{app.deadline | date: "MM/dd/yyyy"}}
          </p>
         </div>
         <div class="grid grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
          <p class="text-gray-600">
             Interview Date
          </p>
          <p>
            {{app.interviewDate | date: "MM/dd/yyyy"}}
          </p>
         </div>
          <div class="md:space-y-0 space-y-1 p-4">
              <div class="text-gray-600 grid grid-cols-2">
                  <div>Contacts</div>
                  <div class="text-center">
                    <button class="shadow-md rounded border p-1 bg-violet-300 text-white mb-2 text-center" (click)="toggleModal()">New Contact</button>
                  </div>
              </div>
              <div class="space-y-2  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                  <div class="text-center border-2 p-2 m-1 bg-gray-50 rounded flex flex-column hover:bg-gray-100" *ngFor="let contact of app.contacts">
                      <div class="">
                          <h1 class="font-bold ">{{contact.firstName}} {{contact.lastName}}</h1>
                          <p class="overflow-x-hidden text-sm">{{contact.email}}</p>
                          <p>{{contact.phoneNumber}}</p>
                      </div>
                      <div class="grid grid-cols-2 mt-2">
                        <div >
                          <button (click)="toggleEditModal(contact)" class="border p-1 w-20 shadow shadow-outline rounded bg-blue-500 text-white hover:bg-blue-600 hover:text-white">edit</button>
                        </div>
                        <div>
                          <button (click)="deleteContact(contact.id)" class="border p-1 w-20 shadow shadow-outline rounded bg-red-500 hover:bg-red-600 text-white">delete</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start  text-center justify-between p-2 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Create a contact
        </h3>
        <button class="p-1 ml-auto text-red border-0 text-black opacity-5 float-right text-3xl" (click)="toggleModal()">
          <span class="h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <form>
          <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
            First Name
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="text"
            name="firstName"
            placeholder="First Name"
            [(ngModel)]="contact.firstName"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
            Last Name
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="text"
            name="lastName"
            placeholder="Last Name"
            [(ngModel)]="contact.lastName"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
            Email
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="email"
            name="email"
            placeholder="email"
            [(ngModel)]="contact.email"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="phoneNumber">
            Phone number
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="tel"
            name="phoneNumber"
            placeholder="Phone number"
            [(ngModel)]="contact.phoneNumber"
          />
        </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end border-t border-solid border-blueGray-200 rounded-b">
        <button (click)="clear()" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
        <button (click)="createContact()" class="bg-blue-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-3 mt-1 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


<div *ngIf="showEditModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start  text-center justify-between p-2 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Update a contact
        </h3>
        <button class="p-1 ml-auto text-red border-0 text-black opacity-5 float-right text-3xl" (click)="toggleEditModal()">
          <span class="h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <form>
          <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
            First Name
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="text"
            name="firstName"
            placeholder="First Name"
            [(ngModel)]="contact.firstName"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
            Last Name
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="text"
            name="lastName"
            placeholder="Last Name"
            [(ngModel)]="contact.lastName"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
            Email
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="email"
            name="email"
            placeholder="email"
            [(ngModel)]="contact.email"
          />
          <label class="block mb-2 text-sm font-bold text-gray-700" for="phoneNumber">
            Phone number
          </label>
          <input
            class="w-full px-3 mb-1 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
            type="tel"
            name="phoneNumber"
            placeholder="Phone number"
            [(ngModel)]="contact.phoneNumber"
          />
        </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end border-t border-solid border-blueGray-200 rounded-b">
        <button (click)="toggleEditModal()" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
        <button (click)="updateContact()" class="bg-blue-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-3 mt-1 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showEditModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
